// Backgrounds
//---------------------

$bg--lightblue--darkest: #81ACBC;
$bg--lightblue--darker: #90B4BF;
$bg--lightblue--medium: #ABC1C5;
$bg--lightblue--light: #D1D8D1;
$bg--cream--white: #ECE7D8;

// Colors
//---------------------
$des-yellow: #fcff00;