

@import url('https://rsms.me/inter/inter-ui.css');
@import 'helpers';
@import 'icons/style';
@import 'colors';

html,
body {
  font-family: 'Inter UI', Roboto,sans-serif;
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;  
  letter-spacing: 1px;
}
h1 {
  text-align: center;
  font-size: 36px;
}
p {
  text-align: center;
  font-size: 16px
}
a {
  text-decoration: none;
  color: black;
    
  &:hover, &:focus {
    color: #ACACAC;
  }
}

